.iframe-container {
  max-width:500px;
  border: 26px solid #000000; /* Grubość i kolor ramki */
  border-radius: 20px; /* Zaokrąglenie narożników */
  overflow: hidden; /* Ukrycie zawartości poza ramką */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Cień */
  position: relative; /* Wymagane, aby pozycjonować dzieci wewnątrz */
}

/* Styl dla samego iframe */
.iframe-container iframe {
  width: 100%;
  height: 750px;
}

/*.centered-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrowanie ikonki 
}*/

 /* Styl dla ikonek w dolnej krawędzi ramki */
  .bottom-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .bottom-icons img {
    margin: 0 10px; /* Odstęp między ikonkami */
  }

.black-bar {
    background-color: #000000;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
