@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2family=Bebas+Neue&family=Oswald:wght@300&display=swap');
  
h1 { 
  font-family: 'Bebas Neue', 'Dancing Script', 'Oswald', sans-serif;
}

body {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Oswald', sans-serif;
}

.menu{
  display: inline; /*wartośc inline przekształca element wewnątrzwierszowy, przez co elementy listy będą w jednej linii */
  padding:20px;
}

a{
  font-size:20px;
  text-decoration:none;
  color:#c4144c;
}

a:hover{
  color:#2b181e;
}

.definition-text {
  font-size:20px;
}
.iframe-display{
   display: flex;
    justify-content: center;
    align-items: center;
}
.iframe-container {
  width:500px;
  border: 23px solid #000000; /* Grubość i kolor ramki */
  border-radius: 20px; /* Zaokrąglenie narożników */
  overflow: hidden; /* Ukrycie zawartości poza ramką */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Cień */
  position: relative; /* Wymagane, aby pozycjonować dzieci wewnątrz */
}

/* Styl dla samego iframe */
.iframe-container iframe {
  width: 100%;
  height: 750px;
}

/*.centered-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrowanie ikonki 
}*/

 /* Styl dla ikonek w dolnej krawędzi ramki */
  .bottom-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

.bottom-icon:hover {
  opacity: 0.6;
}


.black-bar {
    background-color: #000000;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
