.iframe-container {
  max-width:500px;
  border: 5px solid #000000; /* Grubość i kolor ramki */
  border-radius: 20px; /* Zaokrąglenie narożników */
  overflow: hidden; /* Ukrycie zawartości poza ramką */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Cień */
}

/* Styl dla samego iframe */
.iframe-container iframe {
  width: 100%;
  height: 730px;
}